@import url("../base.css");
@import url("../basecommon.css");
.tab {
  width: 100%;
  height: 2.3rem;
  background-color: white; }
  .tab .tab_li {
    width: 100%;
    height: 100%;
    padding-top: 0.7rem;
    font-size: 0; }
    .tab .tab_li li {
      width: 2.6rem;
      height: 0.9rem;
      display: inline-block;
      margin-left: 0.2rem;
      padding-left: 0.3rem;
      line-height: 0.9rem;
      background-size: cover;
      background-repeat: no-repeat; }
      .tab .tab_li li.margin_none {
        margin: 0; }
      .tab .tab_li li.blue {
        background-image: url(../../image/front/111.png); }
      .tab .tab_li li.pink {
        background-image: url(../../image/front/222.png); }
      .tab .tab_li li.green {
        background-image: url(../../image/front/333.png); }
      .tab .tab_li li.yellow {
        background-image: url(../../image/front/444.png); }
      .tab .tab_li li span {
        font-size: 0.56rem;
        color: #ffffff; }

.advantage {
  width: 100%;
  height: 7.23rem;
  background-color: #f7f7f7; }
  .advantage .advantage_top {
    width: 100%;
    height: 1.75rem;
    text-align: center;
    padding-top: 0.4rem; }
    .advantage .advantage_top p {
      font-size: 0.17rem;
      color: #333;
      font-weight: bold;
      margin-bottom: 0.1rem; }
    .advantage .advantage_top img {
      width: 2rem; }
    .advantage .advantage_top span {
      display: block;
      color: #999999;
      font-size: 0.16rem; }
  .advantage .advantage_content {
    width: 100%;
    height: 4.4rem;
    font-size: 0; }
    .advantage .advantage_content .advantage_con_left {
      width: 4.5rem;
      display: inline-block;
      overflow: hidden;
      background-color: white;
      padding: 0.45rem 0.5rem 0.5rem 0.5rem;
      text-align: center;
      height: 100%;
      border-bottom: 1px solid transparent; }
      .advantage .advantage_content .advantage_con_left:hover {
        box-shadow: 0 0 10px #007AFF;
        border-bottom: 1px solid #01a4ef; }
      .advantage .advantage_content .advantage_con_left img {
        width: 1rem;
        height: 1.45rem;
        margin-bottom: 0.52rem; }
      .advantage .advantage_content .advantage_con_left .adv_con_left_font .adv_con_left_font_img {
        width: 100%;
        margin-bottom: 0.2rem;
        text-align: center; }
        .advantage .advantage_content .advantage_con_left .adv_con_left_font .adv_con_left_font_img img {
          width: 0.27rem;
          height: 0.23rem;
          margin-bottom: 0; }
        .advantage .advantage_content .advantage_con_left .adv_con_left_font .adv_con_left_font_img span {
          vertical-align: top;
          font-size: 0.2rem;
          color: #000000; }
      .advantage .advantage_content .advantage_con_left .adv_con_left_font .xian {
        margin-bottom: 0.2rem;
        width: 100%;
        height: 1px;
        background-color: #2590c7;
        position: relative; }
        .advantage .advantage_content .advantage_con_left .adv_con_left_font .xian p {
          position: absolute;
          left: 0;
          width: 20%;
          height: 3px;
          background-color: #2590c7;
          top: -1px; }
      .advantage .advantage_content .advantage_con_left .adv_con_left_font .adv_con_left_font_font p {
        white-space: normal;
        font-size: 0.14rem;
        color: #999999;
        text-align: left; }
    .advantage .advantage_content .advantage_con_right {
      width: 6.27rem;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      margin-left: 0.23rem; }
      .advantage .advantage_content .advantage_con_right li {
        margin-bottom: 0.2rem;
        width: 100%;
        height: 2.1rem;
        border-right: 1px solid #01a4ef;
        background-color: white;
        padding-top: 0.3rem;
        padding-right: 0.3rem;
        padding-left: 0.7rem; }
        .advantage .advantage_content .advantage_con_right li:hover {
          box-shadow: 0 0 10px #007AFF; }
        .advantage .advantage_content .advantage_con_right li img {
          width: 0.93rem;
          height: 0.93rem;
          margin-top: 0.37rem; }
        .advantage .advantage_content .advantage_con_right li .con_right_font {
          width: 3.93rem;
          display: inline-block;
          vertical-align: top;
          float: right; }
          .advantage .advantage_content .advantage_con_right li .con_right_font .con_right_font_title {
            height: 0.4rem;
            margin-bottom: 0.1rem; }
            .advantage .advantage_content .advantage_con_right li .con_right_font .con_right_font_title img {
              width: 0.3rem;
              height: 0.3rem;
              margin: 0; }
            .advantage .advantage_content .advantage_con_right li .con_right_font .con_right_font_title span {
              vertical-align: top;
              color: #000000;
              font-size: 0.2rem; }
          .advantage .advantage_content .advantage_con_right li .con_right_font .xian {
            width: 100%;
            height: 1px;
            background-color: #2590c7;
            position: relative;
            margin-bottom: 0.2rem; }
            .advantage .advantage_content .advantage_con_right li .con_right_font .xian p {
              position: absolute;
              width: 20%;
              height: 3px;
              top: -1px;
              background-color: #2590c7; }
          .advantage .advantage_content .advantage_con_right li .con_right_font p {
            font-size: 0.14rem;
            color: #999999;
            white-space: normal; }

.pc {
  width: 100%;
  height: 7.73rem;
  background-color: white; }
  .pc .container {
    width: 11rem; }
  .pc .pc_top {
    width: 100%;
    height: 1.45rem;
    text-align: center;
    padding-top: 0.72rem; }
    .pc .pc_top p {
      width: 100%;
      font-size: 0.17rem;
      font-weight: bold;
      margin-bottom: 0.1rem; }
    .pc .pc_top img {
      width: 2rem;
      margin-bottom: 0.1rem; }
    .pc .pc_top span {
      display: block;
      font-size: 0.14rem;
      color: #999; }
  .pc .pc_content {
    width: 100%;
    margin-top: 0.6rem;
    height: 5.05rem;
    font-size: 0; }
    .pc .pc_content .pc_img {
      width: 4.9rem;
      height: 100%;
      display: inline-block; }
      .pc .pc_content .pc_img img {
        width: 100%;
        height: 100%; }
    .pc .pc_content .pc_content_font {
      width: 5.9rem;
      height: 100%;
      display: inline-block;
      position: relative;
      float: right; }
      .pc .pc_content .pc_content_font li {
        width: 100%;
        height: 1.17rem;
        margin-bottom: 0.78rem;
        font-size: 0; }
        .pc .pc_content .pc_content_font li.margin_this {
          margin-left: 0.8rem; }
        .pc .pc_content .pc_content_font li .pc_content_font_img {
          width: 0.75rem;
          height: 0.75rem;
          display: inline-block; }
          .pc .pc_content .pc_content_font li .pc_content_font_img img {
            width: 100%;
            height: 100%; }
        .pc .pc_content .pc_content_font li .pc_content_font_font {
          display: inline-block;
          width: 5rem;
          float: right; }
          .pc .pc_content .pc_content_font li .pc_content_font_font h5 {
            font-size: 0.18rem;
            color: #4192ed; }
          .pc .pc_content .pc_content_font li .pc_content_font_font p {
            font-size: 0.14rem;
            color: #999999;
            white-space: normal;
            -webkit-line-clamp: 3; }

.app {
  width: 100%;
  height: 7.73rem;
  background-color: #f7f7f7; }
  .app .container {
    width: 11rem; }
  .app .app_top {
    width: 100%;
    height: 1.45rem;
    text-align: center;
    padding-top: 0.72rem; }
    .app .app_top p {
      width: 100%;
      font-size: 0.17rem;
      font-weight: bold;
      margin-bottom: 0.1rem; }
    .app .app_top img {
      width: 2rem;
      margin-bottom: 0.1rem; }
    .app .app_top span {
      display: block;
      font-size: 0.14rem;
      color: #999; }
  .app .app_content {
    width: 100%;
    margin-top: 0.6rem;
    height: 4.8rem;
    font-size: 0; }
    .app .app_content .app_img {
      width: 4.52rem;
      height: 4.47rem;
      display: inline-block;
      float: right; }
      .app .app_content .app_img img {
        width: 100%;
        height: 100%; }
    .app .app_content .app_content_font {
      width: 5.9rem;
      height: 100%;
      display: inline-block;
      position: relative; }
      .app .app_content .app_content_font li {
        float: right;
        width: 100%;
        height: 1.15rem;
        margin-bottom: 0.78rem;
        font-size: 0;
        text-align: right; }
        .app .app_content .app_content_font li.margin_none {
          margin-bottom: 0; }
        .app .app_content .app_content_font li.margin_this {
          margin-right: 0.8rem; }
        .app .app_content .app_content_font li .app_content_font_img {
          width: 0.75rem;
          height: 0.75rem;
          display: inline-block; }
          .app .app_content .app_content_font li .app_content_font_img img {
            width: 100%;
            height: 100%; }
        .app .app_content .app_content_font li .app_content_font_font {
          display: inline-block;
          width: 5rem;
          float: left; }
          .app .app_content .app_content_font li .app_content_font_font h5 {
            font-size: 0.18rem;
            color: #4192ed; }
          .app .app_content .app_content_font li .app_content_font_font p {
            font-size: 0.14rem;
            color: #999999;
            white-space: normal;
            -webkit-line-clamp: 3; }
