@import url("../base.css");
@import url("../basecommon.css");
.tab {
  width: 100%;
  height: 2.3rem;
  background-color: white; }
  .tab .tab_li {
    width: 100%;
    height: 100%;
    padding-top: 0.7rem;
    font-size: 0; }
    .tab .tab_li li {
      width: 2.6rem;
      height: 0.9rem;
      display: inline-block;
      margin-left: 0.2rem;
      padding-left: 0.3rem;
      line-height: 0.9rem;
      background-size: cover;
      background-repeat: no-repeat; }
      .tab .tab_li li.margin_none {
        margin: 0; }
      .tab .tab_li li.blue {
        background-image: url(../../image/front/111.png); }
      .tab .tab_li li.pink {
        background-image: url(../../image/front/222.png); }
      .tab .tab_li li.green {
        background-image: url(../../image/front/333.png); }
      .tab .tab_li li.yellow {
        background-image: url(../../image/front/444.png); }
      .tab .tab_li li span {
        font-size: 0.56rem;
        color: #ffffff; }

.develop {
  width: 100%;
  height: 7.15rem;
  background-color: #f7f7f7; }
  .develop .develop_top {
    width: 100%;
    height: 1.3rem;
    text-align: center;
    padding-top: 0.6rem; }
    .develop .develop_top p {
      width: 100%;
      font-weight: bold;
      font-size: 0.17rem;
      color: #333;
      margin-bottom: 0.1rem; }
    .develop .develop_top img {
      width: 2rem;
      margin-bottom: 0.1rem; }
    .develop .develop_top span {
      display: block;
      color: #999;
      font-size: 0.14rem; }
  .develop .develop_img {
    width: 100%;
    padding: 0 0.68rem;
    margin-top: 0.3rem; }
    .develop .develop_img img {
      width: 100%; }

.system {
  width: 100%;
  height: 8.08rem; }
  .system .system_top {
    width: 100%;
    height: 2.45rem;
    padding-top: 0.65rem;
    text-align: center; }
    .system .system_top p {
      font-weight: bold;
      font-size: 0.17rem;
      color: #333;
      margin-bottom: 0.1rem; }
    .system .system_top img {
      width: 2rem; }
    .system .system_top span {
      display: block;
      font-size: 0.14rem;
      color: #999999; }
  .system .system_content {
    width: 100%;
    height: 4.8rem;
    padding-left: 0.25rem; }
    .system .system_content .system_list {
      width: 4.23rem;
      display: inline-block; }
      .system .system_content .system_list li {
        width: 100%;
        height: 1.1rem;
        margin-bottom: 0.25rem; }
        .system .system_content .system_list li img {
          width: 0.4rem;
          height: 0.4rem;
          vertical-align: top; }
        .system .system_content .system_list li .system_list_font {
          margin-left: 0.05rem;
          display: inline-block;
          width: 3.7rem; }
          .system .system_content .system_list li .system_list_font h5 {
            font-size: 0.16rem;
            color: #4b4b4b;
            margin-bottom: 0.1rem; }
          .system .system_content .system_list li .system_list_font p {
            font-size: 0.14rem;
            color: #999999;
            -webkit-line-clamp: 3;
            white-space: normal; }
    .system .system_content .system_img {
      display: inline-block;
      float: right;
      width: 6rem;
      height: 4.4rem; }
      .system .system_content .system_img img {
        width: 100%;
        height: 100%; }

.thinking {
  width: 100%;
  height: 5rem;
  background-color: #f7f7f7; }
  .thinking .container .thinking_top {
    padding-top: 0.52rem;
    width: 100%;
    height: 1.77rem;
    text-align: center; }
    .thinking .container .thinking_top p {
      font-weight: bold;
      font-size: 0.17rem;
      color: #333;
      margin-bottom: 0.1rem; }
    .thinking .container .thinking_top img {
      width: 2rem;
      margin-bottom: 0.01rem; }
    .thinking .container .thinking_top span {
      display: block;
      font-size: 0.16rem;
      color: #999999; }
  .thinking .container .thinking_content {
    width: 100%;
    padding-left: 0.78rem;
    padding-right: 0.46rem;
    font-size: 0; }
    .thinking .container .thinking_content li {
      width: 3.33rem;
      height: 0.7rem;
      display: inline-block;
      margin-left: 2.5rem;
      margin-bottom: 0.86rem;
      font-size: 0; }
      .thinking .container .thinking_content li.margin_none {
        margin: 0; }
      .thinking .container .thinking_content li .thinking_con_img {
        width: 0.7rem;
        height: 0.7rem;
        display: inline-block;
        background-color: rgba(65, 146, 237, 0.1);
        text-align: center;
        border-radius: 50%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center; }
        .thinking .container .thinking_content li .thinking_con_img.first {
          background-image: url(../../image/backstage/16.png); }
        .thinking .container .thinking_content li .thinking_con_img.two {
          background-image: url(../../image/backstage/18.png); }
        .thinking .container .thinking_content li .thinking_con_img.three {
          background-image: url(../../image/backstage/17.png); }
        .thinking .container .thinking_content li .thinking_con_img.firs {
          background-image: url(../../image/backstage/19.png); }
      .thinking .container .thinking_content li .thinking_con_font {
        width: 2.4rem;
        height: 100%;
        float: right; }
        .thinking .container .thinking_content li .thinking_con_font h5 {
          font-size: 0.16rem;
          color: #333333;
          margin-bottom: 0.15rem; }
        .thinking .container .thinking_content li .thinking_con_font p {
          font-size: 0.14rem;
          color: #7b7b7b;
          display: block; }
